{
  "plugins": [
    "flowtype",
    "jest"
  ],
  "extends": [
    "plugin:flowtype/recommended",
    "standard",
    "standard-jsx"
  ],
  "parser": "babel-eslint",
  "env": {
    "jest/globals": true
  }
}
