/*
 *= require reset
 *= require clearfix
 *= require_self
*/

.headline {
  font-size: 2em;
  text-align: center;
}

.text {
  font-size: 4em;
}

.card__text {
  font-size: 4em;
  color: #ffffff;
}

.timer__text {
  color: #51af66;
}

.board {
  width: 80%;
  margin: auto;
}

.card {
  box-sizing: border-box;
  width: 25%;
  padding: 30px 10px;
  border: 5px solid #ffffff;
  border-radius: 10px;
  float: left;
  text-align: center;
  cursor: pointer;
}

.card--down {
  background-color: #51af66;
}

.card--yellow {
  background-color: #d1ba3d;
}

.card--blue {
  background-color: #50348f;
}

.card--red {
  background-color: #d14b3d;
}

.card--voted {
  border: 5px solid #d14b3d;
}

.card--some {
  border: 5px solid yellow;
}

.card--many {
  border: 5px solid orange;
}

.card--most {
  border: 5px solid red;
}
