/*
 *= require reset
 *= require clearfix
 *= require_self
*/

/* site-wide--------------------------------------------------------------------
*/

.body {
  box-sizing: border-box;
  background-color: #ded4b9;
  font-family: 'Pontano Sans', sans-serif;
  color: #46433a;
  text-align: center;
}

.headline {
  font-family: 'Bevan', cursive;
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}

.headline--clickable {
  cursor: pointer;
}

.subheader {
  font-family: 'Bevan', cursive;
  font-size: 2em;
  text-align: center;
}

.input, .link, .button {
  background-color: #64b6b1;
  color: #ffffff;
  font-size: 2em;
  padding: 10px 20px;
  width: 100%;
}

.button {
  cursor: pointer;
  text-align: left;
  background-color: #46433a;
  color: #ded4b9;
}

.link {
  text-align: right;
}

.text {
  font-size: 4em;
}

.input {
  margin-top: 100px;
  color: #ded4b9;
  background-color: #ce534d;
  text-align: left;
  width: 100%;
}

/* game-display-----------------------------------------------------------------
*/

.board {
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.timer__text {
  color: #51af66;
}

.card {
  box-sizing: border-box;
  width: 25%;
  padding: 30px 10px;
  border: 5px solid #ded4b9;
  border-radius: 10px;
  float: left;
  text-align: center;
  cursor: pointer;
}

.card__text {
  font-size: 4em;
  color: #ffffff;
}

.card--down {
  background-color: #ffffff;
  opacity: .5;
}

.card--yellow {
  background-color: #46433a;
}

.card--blue {
  background-color: #64b6b1;
}

.card--red {
  background-color: #ce534d;
}

.card--voted {
  border: solid 5px #ce534d;
}

.card--some {
  background-color: #64b6b1;
  opacity: .60;
}

.card--many {
  background-color: #ce534d;
  opacity: .60;
}

.card--most {
  background-color: #ce534d;
  opacity: 1;
}
